
{% macro var_if_pillar(name, deflt) -%}
{% set val = salt['pillar.get']('mirrorcache:' + name, deflt) -%}
        {% if ( val ) -%}
        MIRRORCACHE_{{ name.upper() }}: '{{ val }}'
        {% endif %}
{%- endmacro -%}

{% macro var_if_pillar_subtree(name, deflt) -%}
{% set val = salt['pillar.get']('mirrorcache:' + name + '_subtree', deflt) -%}
        {% if ( val ) -%}
        MIRRORCACHE_{{ name.upper() }}: '{{ val }}'
        {% endif %}
{%- endmacro -%}

{% macro ini_if_pillar(name, deflt) -%}
{% set val = salt['pillar.get']('mirrorcache:' + name, deflt) -%}
        {% if ( val ) -%}
        {{ name }}: '{{ val }}'
        {% endif %}
{%- endmacro -%}
